<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset password</title>

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
   <!--  <link rel="stylesheet" type="text/css" href="resources/css/custom.css"> -->


    <!-- validator for Bootstrap 3 -->
   <!--  <script src="validator.js"></script> -->


  </head>

  <body>
    <div class="container">
      <div class="row toolbarCls">
          <div class="col-md-12">
          </div>
        </div>
      <div class="row bodyBackground">
          <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
             <section class="transparent marginTopCls">
                <form action="<%= url %>/reset-password" method="post" class="transparent marginTopCls" data-toggle="validator" role="form">

                      <div class="form-group">
                        <label for="inputPassword" class="control-label">Password</label>
                        <input type="password" name="password" data-minlength="8" class="form-control" id="inputPassword" placeholder="nuova password" required>
                            <div class="help-block">Inserire almeno 8 caratteri</div>
                      </div>
                      <div class="form-group">
                          <input type="password" name="confirmation" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Le password inserite non coincidono!" placeholder="conferma nuova password" required>
                          <div class="help-block with-errors"></div>
                      </div>



                      <div class="form-group">
                        <input type="hidden" id="userid" name ="userId" value="<%= id %>">
                        <input type="hidden" id="token" name ="token" value="<%= token %>">
                      </div>

                      <div class="form-group">
                        <input type="submit" class="btn btn-primary normalBtnCls" value="Invia">
                      </div>
               </form>
             </section>
          </div>
        </div>
    </div>
  </body>
</html>
