<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cambio password</title>



    <!-- Favicon -->
    <link rel="icon" href="users/favicon.ico" type="image/x-icon"/>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
   <!--  <link rel="stylesheet" type="text/css" href="users/resources/css/custom.css"> -->


    <!-- validator for Bootstrap 3 -->
   <!--  <script src="users/resources/lib/validator.js"></script> -->

  </head>

  <body>
    <div class="container">
      <div class="row toolbarCls">
          <div class="col-md-12">
          </div>
      </div>
      <div class="row bodyBackground">
          <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
            <p></p>
            <div class="alert alert-success" role="alert"><h3>Password cambiata con successo!</h3></div>
          </div>
      </div>
    </div>
  </body>
</html>
