<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset password</title>

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="resources/css/custom.css">

    <!-- validator for Bootstrap 3 -->
  <!--   <script src="resources/lib/validator.js"></script> -->

  </head>

  <body>
    <div class="container">
      <div class="row toolbarCls">
          <div class="col-md-12">
          </div>
        </div>
      <div class="row bodyBackground">
            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
                <p></p>
                <div class="alert alert-success" role="alert">
                    <h3>La registrazione ha avuto successo!</h3>
                    <h4>Ora puoi effettuare il login con le tue credenziali.<br><br>Grazie per la collaborazione.</h4>
                </div>
            </div>
      </div>
    </div>
  </body>
</html>
